.Channel {
  display: flex;
  flex-direction: row;
  transition: background-color linear 250ms;
}

.Channel:not(.Channel--not-found):hover {
  background-color: #1f2329;
}

.Channel__body {
  flex: 1;
  min-width: 0;
  display: flex;
  padding: 6.5px 0 6.5px 24px;
}

.Channel--not-found .Channel__avatar {
  border: 2px dashed #5d6065;
  border-radius: 2px;
}

.Channel__avatar {
  width: 36px;
  min-width: 36px;
  height: 36px;
  min-height: 36px;
  margin-right: 10px;
}

.Channel__description {
  flex: 1;
  min-width: 0;
  text-align: left;
  margin-right: 10px;
}

.Channel--has-unread-messages .Channel__description {
  color: #ffffff;
}

.Channel__name {
  font-weight: bold;
  line-height: 1.5;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.Channel__last-message {
  font-size: 10px;
  line-height: 1.25;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.Channel__stats {
  flex: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}

.Channel__last-message-time-since {
  font-size: 9px;
  margin: 5px 0 3.5px 0;
  line-height: 1;
  vertical-align: baseline;
}

.Channel .Channel__unread-messages-count {
  background-color: #1d74f5;
  color: #ffffff;
}

.Channel .Channel__more {
  width: 24px;
  min-width: 24px;
  visibility: hidden;
}

.Channel:hover .Channel__more {
  visibility: visible;
  flex: 0;
  display: flex;
  align-content: center;
  justify-content: center;
}
