.Sidebar__header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 23px 14px 14px 14px;
}

.Sidebar__header-thumb {
  margin: 0 10px;
}

.Sidebar__toolbar, .Sidebar__search {
  flex: 1;
  margin-top: 2px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.Sidebar__toolbar-button, .Sidebar__toolbar-item {
  position: relative;
  min-width: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Sidebar__toolbar-button::after {
  content: attr(aria-label);
  display: block;
  position: absolute;
  z-index: 1;
  top: 150%;
  opacity: 0;
  bottom: auto;
  margin: 11px 0;
  padding: .5em 1em;
  border-radius: 2px;
  background-color: #1f2329;
  color: #ffffff;
  white-space: nowrap;
  font-size: 12px;
  transition: opacity linear 250ms 100ms,
    top linear 250ms 100ms;
}

.Sidebar__toolbar-button:hover::after {
  display: block;
  top: 100%;
  opacity: 1;
}

.Sidebar__toolbar-button:hover {
  background: none;
}

.Sidebar__toolbar-button--more {
  width: 18px;
  min-width: 18px;
  margin-left: -8px;
  margin-right: -8px;
}

.Sidebar__toolbar-button-tooltip {
  position: absolute;
}

.Sidebar__search-icon {
  padding: 0 10px;
}

.Sidebar__search-input {
  width: 100%;
  min-width: 0;
  border: none;
  border-bottom: 1px solid #414852;
  background: none;
  color: inherit;
}

.Sidebar__search-input:focus {
	outline: 0;
}

.Sidebar__search-clear {
  padding: 0 10px;
}
