.Sidebar__search {
  flex: 1;
  margin-top: 2px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.Sidebar__search-icon {
  padding: 0 10px;
}

.Sidebar__search-input {
  width: 100%;
  min-width: 0;
  border: none;
  border-bottom: 1px solid #414852;
  background: none;
  color: inherit;
}

.Sidebar__search-input:focus {
	outline: 0;
}

.Sidebar__search-clear {
  padding: 0 10px;
}
