.Avatar {
  position: relative;
  width: 100%;
  height: 100%;
}

.Avatar__image {
  width: 100%;
  height: 100%;
  border-radius: 2px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.Avatar__text {
  width: 100%;
  height: 100%;
  margin-right: 10px;
  flex: 0;
  border-radius: 2px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  vertical-align: baseline;
}

.Avatar__status {
  position: absolute;
  width: 10px;
  height: 10px;
  right: -4px;
  bottom: -3px;
  border-radius: 50%;
  border: 2px solid #2f343d;
}

.Avatar__status-online {
  background-color: #2de0a5;
}

.Avatar__status-away {
  background-color: #ffd21f;
}

.Avatar__status-busy {
  background-color: #f5455c;
}

.Avatar__status-invisible {
  background-color: #cbced1;
}
