.Avatar {
  position: relative;
}

.Avatar__image {
  width: 23px;
  height: 23px;
  border-radius: 2px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.Avatar__status {
  position: absolute;
  width: 10px;
  height: 10px;
  right: -4px;
  bottom: -3px;
  border-radius: 50%;
  border: 2px solid #2f343d;
}

.Avatar__status-online {
  background-color: #2de0a5;
}

.Avatar__status-away {
  background-color: #ffd21f;
}

.Avatar__status-busy {
  background-color: #f5455c;
}

.Avatar__status-invisible {
  background-color: #cbced1;
}
