.Sidebar {
  --width-fixed: 280px;
  --width-fluid: 90%;

  position: fixed;
  flex: 1;
  width: var(--width-fluid);
  max-width: var(--width-fluid);
  height: 100%;
  overflow: auto;
  color: #9ea2a8;
  background-color: #2f343d;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 15px 1px;
}

.Sidebar__header {
  display: flex;
  flex-direction: row;
  margin: 23px 14px 23px 14px;
}

.Sidebar__header-thumb {
  margin: 0 10px;
}

.Sidebar__toolbar {
  flex: 1;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.Sidebar__toolbar-button {
  width: 22px;
  min-width: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Sidebar__toolbar-button:last-child {
  width: 18px;
  min-width: 18px;
  margin-left: -8px;
  margin-right: -8px;
}

.Sidebar__list {
  padding: 23px;
}

.Sidebar__footer {
  padding: 23px;
}

@media (min-width: 400px) {
  .Sidebar {
    width: var(--width-fixed);
    max-width: var(--width-fixed);
  }
}

@media (min-width: 780px) {
  .Sidebar {
    position: static;
  }
}
