.Sidebar {
  --width-fixed: 280px;
  --width-fluid: 90%;

  position: fixed;
  flex: 1;
  width: var(--width-fluid);
  max-width: var(--width-fluid);
  height: 100%;
  color: #9ea2a8;
  background-color: #2f343d;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 15px 1px;
}

.Sidebar__header {
  display: flex;
  flex-direction: row;
  margin: 23px 14px 23px 14px;
}

.Sidebar__header-thumb {
  margin: 0 10px;
}

.Sidebar__toolbar {
  flex: 1;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.Sidebar__toolbar-button {
  position: relative;
  width: 22px;
  min-width: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Sidebar__toolbar-button::after {
  content: attr(aria-label);
  /*display: none;*/
  display: block;
  position: absolute;
  z-index: 1;
  top: 150%;
  opacity: 0;
  bottom: auto;
  margin: 11px 0;
  padding: .5em 1em;
  border-radius: 2px;
  background-color: #1f2329;
  color: #ffffff;
  white-space: nowrap;
  font-size: 12px;
  transition: opacity linear 250ms 100ms,
    top linear 250ms 100ms;
}

.Sidebar__toolbar-button:hover::after {
  display: block;
  top: 100%;
  opacity: 1;
}

/* Style reset { */
.Sidebar__toolbar-button {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.Sidebar__toolbar-button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/* } */

.Sidebar__toolbar-button:hover {
  background: none;
}

.Sidebar__toolbar-button:last-child {
  width: 18px;
  min-width: 18px;
  margin-left: -8px;
  margin-right: -8px;
}

.Sidebar__toolbar-button-tooltip {
  position: absolute;
}

.Sidebar__list {
  padding: 23px;
}

@media (min-width: 400px) {
  .Sidebar {
    width: var(--width-fixed);
    max-width: var(--width-fixed);
  }
}

@media (min-width: 780px) {
  .Sidebar {
    position: static;
  }
}
